<div
  class="w-[420px] md:w-[470px] h-[260px] rounded-3xl p-3 relative overflow-hidden group"
>
  <picture>
    <source media="(min-width: 1024px)" srcset="{{media.thumbnail.regular.large}}" />
    <source media="(min-width: 768px)" srcset="{{media.thumbnail.regular.medium}}" />
    <img
      src="{{media.thumbnail.regular.small}}"
      alt="Image 1"
      class="absolute w-full h-full left-0 top-0 object-cover z-10 duration-300 group-hover:scale-110"
    />
  </picture>
  <div
    class="absolute left-0 top-0 w-full h-full bg-dark/0 hover:bg-dark/40 flex flex-col justify-between items-end z-20 p-4"
  >
    <div
      class="w-10 h-10 bg-gray hover:bg-black duration-200 active:scale-75 flex justify-center items-center rounded-full cursor-pointer"
      (click)="toggleBookmark()"
    >
      <img
        [src]="!media.isBookmarked ? '/assets/icon-bookmark-empty.svg' : '/assets/icon-bookmark-full.svg'"
        alt="Image 2"
        class="w-4 h-4"
      />
    </div>
    <div class="flex justify-center items-center w-full">
      <button
        class="flex items-center gap-2 bg-dark/70 p-1 pr-6 rounded-full cursor-pointer border-2 border-transparent hover:border-white/50 duration-200 active:scale-75 opacity-0 group-hover:opacity-100"
      >
        <div
          class="w-10 h-10 bg-dark flex justify-center items-center rounded-full"
        >
          <img src="/assets/icon-play.svg" alt="Image 2" class="w-4 h-4" />
        </div>
        Play
      </button>
    </div>
    <div class="flex flex-col flex-start justify-start items-start w-full">
      <div class="flex justify-start gap-1 text-sm text-light text-white/60">
        <p>{{ media.year }}</p>
        <p>.</p>
        <p>
          <img
            [src]="media.category === 'Movie' ? 'assets/icon-nav-movies.svg' : 'assets/icon-nav-tv-series.svg'"
            alt="movie"
            class="w-4 h-4 filter-gray"
          />
        </p>
        <p>{{ media.year }}</p>
        <p>.</p>
        <p>{{ media.rating }}</p>
      </div>
      <h1 class="text-xl mt-2">{{ media.title }}</h1>
    </div>
  </div>
</div>
