<div
  class="w-[420px] md:w-[470px] h-[260px] rounded-3xl p-3 relative overflow-hidden group"
>
  <img
    src="/assets/thumbnails/autosport-the-series/regular/large.jpg"
    alt="Image 1"
    class="absolute left-0 top-0 z-10 duration-300 group-hover:scale-110"
  />
  <div
    class="absolute left-0 top-0 w-full h-full bg-dark/0 hover:bg-dark/40 flex flex-col justify-between items-end z-20 p-4"
  >
    <div
      class="w-10 h-10 bg-gray hover:bg-black duration-200 active:scale-75 flex justify-center items-center rounded-full cursor-pointer"
    >
      <img
        src="/assets/icon-bookmark-empty.svg"
        alt="Image 2"
        class="w-4 h-4"
      />
    </div>
    <div class="flex justify-center items-center w-full">
      <button
        class="flex items-center gap-2 bg-dark/70 p-1 pr-6 rounded-full cursor-pointer border-2 border-transparent hover:border-white/50 duration-200 active:scale-75 opacity-0 group-hover:opacity-100"
      >
        <div
          class="w-10 h-10 bg-dark flex justify-center items-center rounded-full"
        >
          <img src="/assets/icon-play.svg" alt="Image 2" class="w-4 h-4" />
        </div>
        Play
      </button>
    </div>
    <div class="flex flex-col flex-start justify-start items-start w-full">
      <div class="flex justify-start gap-1 text-sm text-light text-white/60">
        <p>2019</p>
        <p>.</p>
        <p>
          <img src="assets/icon-nav-movies.svg" alt="moview" class="w-4 h-4 filter-gray"/>
        </p>
        <p>Movie</p>
        <p>.</p>
        <p>PG</p>
      </div>
      <h1 class="text-xl mt-2">Beyond Earth</h1>
    </div>
  </div>
</div>
